.hero {
    position: relative;
    width: 100%;
   
    min-height: 900px;
    max-height:1000px; /* Ensures the container doesn't become too short */
    overflow: hidden;
    border-bottom: 5px solid black;
  }
  
  .hero img {
    width: 100%;
    
    object-fit: cover;
  }

  .hero-group{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
  }
  
  .hero-title {
   
    font-size: 3rem;
    color: black;
    
    text-align: center;
    margin: 0;
  }

.hero-subtitle{
  font-size: 1.4rem;
 color: black;
 width: 800px;

}

.hero-button{
color: white;
font-weight: 700;
width: 200px;
height: 70px;
font-size: 1.2rem;
border-radius: 10px;
background-color: black;
cursor: pointer;
transition: transform 0.3s ease; /* Adds a smooth transition */


}

.hero-button:hover {
  transform: scale(1.1); /* Enlarge the button to 110% of its original size */
}


  
  /* On very small screens, override the height with a viewport-based value */
  @media (max-width: 480px) {
    .hero {
      height: 60vh; /* For instance, 50% of viewport height */
    }
    
    .hero-title {
      font-size: 1.6rem;
    }
  }
  