
.bocika-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: stretch;
}


.bocika-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 330px;
    height: 370px;
    border: 1px solid grey;
    border-radius: 10px;
    padding-bottom: 20px;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }
  
  .bocika-card:hover {
    transform: scale(1.1); /* Increase size by 10% */
  }
  
  .bocika-170 {
    width: 200px;
    height: 300px;
    margin: auto;
  }
  
  .cube {
    width: 300px;
    margin: auto;
  }
  
 
  
  .bc1 {
    background-image: url(../../assets/bc1.png);
  }
  
  .bc2 {
    background-image: url(../../assets/bc23.png);
  }
  
  .bc3 {
    background-image: url(../../assets/bc33.png);
  }
  
  .bc4 {
    background-image: url(../../assets/bc4.png);
  }
  
  .bc5 {
    background-image: url(../../assets/bc53.png);
  }
  
  .ac1 {
    background-image: url(../../assets/bc1.png);
  }
  
  .ac2 {
    background-image: url(../../assets/bc23.png);
  }
  
  .ac3 {
    background-image: url(../../assets/bc33.png);
  }
  
  .ac4 {
    background-image: url(../../assets/bc4.png);
  }
  
  .ac5 {
    background-image: url(../../assets/bc53.png);
  }
  
  /* Responsive Styles */
  
  /* Tablets (max-width: 768px) */
  @media (min-width:768px) and (max-width:1440px){
    .bocika-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
      gap: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .bocika-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
      gap: 10px;
    }
  }